.input-numbers-line {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;

  mat-label {
    color: white !important;
  }

  input {
    color: white !important;
  }
}

.input-numbers-buttons {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .valid-button {
  margin-left: 20px;
}

::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
  background-color: #748D92 !important;
  height: 56px;
  width: inherit;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #124E66 !important;
  color: white !important;
}

.line-cards-columns {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.number-column-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error-label {
  text-align: center;
}

.mat-mdc-card-title {
  font-size: 1rem;
}

.line-result {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
  white-space: break-spaces;
  width: 80%;
  margin: auto;
  color: white;
  line-height: 1.5em;
}

.glass-card {
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

@media print {
  .hide-print {
    display: none !important;
  }
}


.button-big-p {
  font-size: 24px !important;
  line-height: 24px !important;
}

.choices-line {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;

  mat-card {
    width: 300px;
    height: 300px;
    font-size: 42px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    background-color: #748D92 !important;
  }
}

.inverted-number {
  background-color: red;
  border-radius: 10px;
  padding: 3px;
  print-color-adjust: exact;
}
