<div class="container">
  <div class="input-numbers-line">
    @for (item of numbers; track item; let index = $index) {
      <mat-form-field>
        <mat-label>{{ index + 1 }}</mat-label>
        <input matInput maxlength="2" type="number" (change)="updateArray($event, index)" [value]="numbers[index]">
      </mat-form-field>
    }

    <button class="valid-button" mat-flat-button (click)="generateGrid()">Générer</button>
  </div>


  @if (missingFields) {
    <mat-error class="error-label">Veuillez renseigner les 16 nombres</mat-error>
  }
  @if (duplicateNumbers) {
    <mat-error class="error-label">Veuillez ne pas saisir de nombre en double</mat-error>
  }
  @if (outOfRangeNumbers) {
    <mat-error class="error-label">Veuillez saisir des nombres compris entre 1 et 16</mat-error>
  }

  @if (numbersGenerated.length) {
    <div class="line-cards-columns">
      @for (numberPair of pairs | keyvalue; track numberPair) {
        <div class="number-column-cards">
          @for (pair of numberPair.value; track pair) {
            <mat-card>
              <mat-card-header>
                <mat-card-title style="text-align: center">
                  {{ numberPair.key }}-{{ pair }}
                </mat-card-title>
                <mat-card-subtitle style="text-align: center">
                  {{ numbersGenerated[numberPair.key - 1] }}{{ numbersGenerated[pair - 1] }}
                </mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          }
        </div>
      }
    </div>
  }
</div>

